.container {
    padding-top: 3em;
    font-family: 'Roboto', sans-serif;
}
h1 {
    padding-bottom: .4em;
    color: inherit;
}
h1 > a {
    color: inherit;
    text-decoration: none !important;
}
.about-panel {
    padding-top: 40px;
}
